$color-main: rgb(255, 170, 77);
$color-bg: #ffce00;

html {
    scroll-behavior: smooth;
    scroll-padding: 10vh;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-main;
    text-shadow: -2px 2px black;
}

h2 {
    font-size: 1.2rem;
    color: white;
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
}
