
main {
    background-image: url(/images/background/bg-main.png);
    background-size: cover;
    background-position: 20%;

    .container {
        position: fixed;
        z-index: 2;
        background-color: $color-bg;
        width: 100%;
    }

    header {
        height: 10vh;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        nav ul {
            display: none;

            list-style: none;
            text-decoration: none;

            text-align: center;

            a:active, a:visited, a:link {
                color: white;
                text-decoration: none;
            }

        }

        #burger-btn {
            background-image: url(/images/icon/burger-btn.png);
            background-size: cover;
            border-radius: 0;
            height: 50px;
            width: 50px;
        }

        #close-btn {
            background-image: url(/images/icon/close-btn.png);
            background-size: cover;
            border-radius: 0;
            height: 50px;
            width: 50px;
            display: none;
        }

        #burger-btn:hover {
            background-color: rgba(0, 0, 0, 0);
        }

    }

    img {
        height: 50px;
        width: 200px;
    }    

    .menu {
        position: absolute;
        z-index: 1;
        width: 100vw;
        
        ul {
            list-style: none;
            text-decoration: none;

            background-color: $color-bg;
            text-align: center;
            height: 0vh;
            margin-top: 10vh;
            font-size: 2rem;
            font-weight: 700;
            transition: all 0.2s;
            transition-timing-function: ease-in-out;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            overflow: hidden;

            a:active, a:visited, a:link {
                color: black;
                text-decoration: none;
            }

            a:hover {
                color: white;
            }

        }
    }

    .headline {
        height: 100vh;
        padding: 10vh 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        hgroup { 
            margin-top: 30px;
        }

        article {
            background-color: $color-bg;
            padding: 10px;
            border-radius: 10px;
            color: black;
            font-weight: 500;
            font-size: 1.2rem;

            p {
                padding: 5px;
            }
        }
    }
}

.benefit {
    height: 100vh;
    padding: 20px;
    text-align: center;

    background-image: url(/images/background/bg-benefit.png);
    background-size: cover;

    .benefit-group {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 20px;

        article {
            background-color: $color-bg;
            border-radius: 10px;
            padding: 10px;

            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 10px;

            img {
                height: 60px;
            }
        }
    }
}

.partner {
    height: 60vh;
    padding: 20px;

    background-image: url(/images/background/bg-partner.png);
    background-size: cover;
    background-position: center;

    text-align: center;

    .logo {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;
        align-items: center;
        margin-top: 10px;

        img {
            height: 75px;
            width: 150px;
            background-color: white;
        }
    }
}

.figures {
    padding: 10px;
    background-color: black;
    text-align: center;

    .gallery {
        padding: 10px;
        
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            text-decoration: none;
            gap: 10px;
        }
          
        li {
            height: 20vh;
            flex-grow: 1;
        }
          
        img {
            max-height: 100%;
            min-width: 100%;
            object-fit: cover;
        }

        @for $i from 4 through 16 {
            li:nth-child(#{$i}){  
                display: none;
            }
        }

        img:hover {
            opacity: 0.5;
        }
    }
}

.testimonial {
    height: 60vh;
    padding: 20px;
    text-align: center;

    background-image: url(/images/background/bg-testimonial.png);
    background-size: cover;
    background-position: center;

    .testimonials-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        article {
            background-color: $color-bg;
            border-radius: 10px;
            padding: 3px 10px;

            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            width: 80%;

            img {
                grid-row: span 2;
                height: 60px;
            }
        }
    }
}

.closure {
    height: 60vh;
    padding: 20px;
    text-align: center;

    background-image: url(/images/background/bg-closure.png);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    .closure-group {
        background-color: $color-bg;
        border-radius: 20px;
        padding: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0;
        padding: 10px;
        
        input {
            padding: 14px;
            border: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 150px;
        }

        button {
            border-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

footer {
    height: 30vh;
    background-color: $color-bg;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .about p {
        margin-top: 10px;
        font-size: 0.8rem;
    }

    img {
        height: auto;
        width: 30px;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 5px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        gap: 5px;;

        img {
            width: 15px;
        }
    }

}

.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    padding: 20px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}
  
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
}
  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 5rem;
    font-weight: bold;
}

